* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
    variables implemenatdas en elementos que comparten estas
	propiedades
*/
$heightMask: 500px;

header,
footer {
	text-align: center;
	color: #fff;
	background-color: #f3f34c;
	height: 78px;
}

/*
    section_name: contenedor definido para implementar
    margin o padding con el fin de separar las secciones
    entre si
*/
.section_name {
	/*
		container_name: contenedor definido para manejar
		el responsive implementando width
    */
	.container_name {
		background-image: url(../assets/img/img1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;

		/*
            content_flexbox: contenedor definido para
            implementar flebox si se requiere
        */
		.content_flexbox {
			/*
				box_mask: caja contenedora que definimos cuando no
				queremos que las propiedades flexbox afecten a cada caja
			*/
			.box_mask {
				/*
					content_mask: definimos flexbox con sus propiedades mas la 
					definicion de un height que nos permite centrar la mascara 
					vertical y horizontalmente dentro de su contenedor
				*/
				.content_mask {
					color: #fff;
					background-color: rgba(0, 0, 0, 0.623);
					display: flex;
					height: $heightMask;
					align-items: center;

					/*
						mask_info: definir un max-width en este contenedor nos 
						permite reducir su ancho, por ende podemos controlar
						su ubicacion con flexbox. Tiene un padding que nos permite
						separar el contenido de los bordes y finalmente un 
						text-align: center para centrar los elementos
					*/
					.mask_info {
						max-width: 800px;
						padding: 80px calc(100% - 93%);

						h2 {
							font-size: 3.5rem;
							font-weight: 600;
							line-height: 0.9;
						}

						p {
							font-size: 1.5rem;
							font-weight: 500;
							line-height: 1.4;
							margin: 12px 0 26px;
						}

						/*
							content_btn: contiene una tag-a
						*/
						.content_btn {

							/*
								tag-a: definimos display: inline-flex
							*/
							a {
								text-decoration: none;
								display: inline-flex;
								width: 160px;
								justify-content: center;
								height: 50px;
								align-items: center;
								background-color: #f3f34c;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}
